  <!-- Content -->
@model AlMohamyProject.Models.HomePageModel
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>عدد المحاميين</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 class="mb-0 me-2">@ViewBag.LawyersCount</h4>
                             @*   <small class="text-success">(+29%)</small>*@
                            </div>
                            <small>المحاميين </small>
                        </div>
                        <span class="badge bg-label-primary rounded p-2">
                            <i class="bx bx-user bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>اجمالي عدد المستخدمين</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 class="mb-0 me-2">@ViewBag.TotaCount</h4>
                               @* <small class="text-danger">(-14%)</small>*@
                            </div>
                            <small>عدد المستخدمين  </small>
                        </div>
                        <span class="badge bg-label-success rounded p-2">
                            <i class="bx bx-group bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
       @* <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>Pending Users</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 class="mb-0 me-2">237</h4>
                                <small class="text-success">(+42%)</small>
                            </div>
                            <small>Last week analytics</small>
                        </div>
                        <span class="badge bg-label-warning rounded p-2">
                            <i class="bx bx-user-voice bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <!-- Users List Table -->
    <div class="card" style="width:1400px">
        <div class="data_table">
            <table id="example" class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                         <th>الصورة الشخصية</th>
                        <th>اسم الاكونت</th>
                      
                        <th>الاسم الاول </th>
                        <th>اسم العائلة</th>

                    

                        <th>حالة الاكونت</th>

                       


                        <th> التفاصيل</th>

                        <th> قبول او رفض الاكونت</th>
                         


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lstUsers)
                    {

                        <tr>
                            <td class="avatar avatar-xl">
                                <img src="@string.Format("/Uploads/{0}",item.Image)" alt="Avatar" class="rounded-circle">
                            </td>
                            <td>@item.UserName</td>
                          
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.FamilyName
                            </td>
                         
                            <td>
                                @item.Status
                            </td>

                           
                            <td>
                                <a asp-area="Admin" asp-controller="Home" asp-action="DetailsLawyer" asp-route-id="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                    التفاصيل
                                </a>
                            </td>
                            <td>
                                @if (item.Status == null)
                                {
                                    <a asp-area="Admin" asp-controller="Home" asp-action="AcceptLawyer" asp-route-id="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                        القبول
                                    </a>


                                }
                                else if (item.Status == "معلق")
                                {
                                    <a asp-area="Admin" asp-controller="Home" asp-action="LockUnlock" asp-route-userId="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                        تفعيل
                                    </a>

                                }
                                else if (item.Status == "مفعل")
                                {
                                    <a asp-area="Admin" asp-controller="Home" asp-action="LockUnlock" asp-route-userId="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                        تعليق
                                    </a>

                                }
                                else if (item.Status == "غير مفعل")
                                {
                                    <a asp-area="Admin" asp-controller="Home" asp-action="LockUnlock" asp-route-userId="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                        تفعيل
                                    </a>

                                }


                                
                            </td>
                           
                          
                          

                        </tr>

                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- / Content -->