@model AlMohamyProject.Models.HomePageModel
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4"><span class="text-muted fw-light">لوحة التحكم /</span>  عرض المبيعات بالخدمة</h4>
    <div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span> عدد الخدمات</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 id="serviceno" class="mb-0 me-2"></h4>
                                @*   <small class="text-success">(+29%)</small>*@
                            </div>

                        </div>
                        <span class="badge bg-label-primary rounded p-2">
                            <i class="bx bx-user bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span> اجمالي دخل الخدمة</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 id="serviceincome" class="mb-0 me-2"></h4>
                                @*   <small class="text-success">(+29%)</small>*@
                            </div>

                        </div>
                        <span class="badge bg-label-primary rounded p-2">
                            <i class="bx bx-user bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>اجمالي ربح التطبيق   </span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 id="appprofitmargin" class="mb-0 me-2"></h4>
                                @* <small class="text-danger">(-14%)</small>*@
                            </div>

                        </div>
                        <span class="badge bg-label-success rounded p-2">
                            <i class="bx bx-group bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>اجمالي دخل الخدمة بعد خصم ربح التطبيق    </span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 id="serviceincomeminusapprofit" class="mb-0 me-2"></h4>
                                @* <small class="text-danger">(-14%)</small>*@
                            </div>

                        </div>
                        <span class="badge bg-label-success rounded p-2">
                            <i class="bx bx-group bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span> اجمالي الضريبة من ربح التطبيق</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 id="vatofappprofit" class="mb-0 me-2"></h4>
                                @*   <small class="text-success">(+29%)</small>*@
                            </div>

                        </div>
                        <span class="badge bg-label-primary rounded p-2">
                            <i class="bx bx-user bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>صافي ربح التطبيق بعد خصم الضريبة     </span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 id="appprofitminusvat" class="mb-0 me-2"></h4>
                                @* <small class="text-danger">(-14%)</small>*@
                            </div>

                        </div>
                        <span class="badge bg-label-success rounded p-2">
                            <i class="bx bx-group bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>نسبة بوابة الدفع ابل باى    </span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 id="applypaypercent" class="mb-0 me-2"></h4>
                                @* <small class="text-danger">(-14%)</small>*@
                            </div>

                        </div>
                        <span class="badge bg-label-success rounded p-2">
                            <i class="bx bx-group bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span> نسبة بوابة الدفع مدي</span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 id="madapercent" class="mb-0 me-2"></h4>
                                @*   <small class="text-success">(+29%)</small>*@
                            </div>

                        </div>
                        <span class="badge bg-label-primary rounded p-2">
                            <i class="bx bx-user bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>نسبة بوابة الدفع ماستر و فيزا     </span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 id="mastervisapercent" class="mb-0 me-2"></h4>
                                @* <small class="text-danger">(-14%)</small>*@
                            </div>

                        </div>
                        <span class="badge bg-label-success rounded p-2">
                            <i class="bx bx-group bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>صافي ربح التطبيق بعد خصم نسب بوابت الدفع    </span>
                            <div class="d-flex align-items-end mt-2">
                                <h4 id="appprofitminusegatespercent" class="mb-0 me-2"></h4>
                                @* <small class="text-danger">(-14%)</small>*@
                            </div>

                        </div>
                        <span class="badge bg-label-success rounded p-2">
                            <i class="bx bx-group bx-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="col-md-6">
        <label class="form-label" for="multicol-country">نوع الخدمة المقدمة</label>
        <select asp-items="@(new SelectList(ViewBag.services , "ServiceId" , "ServiceName"))" onchange="myFunction()" id="servicename" class="select2 form-select" data-allow-clear="true">
            <option value="">اختر  نوع الخدمة المقدمة  </option>

        </select>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="exampleInputPassword1">من تاريخ</label>
            <input type="datetime-local" class="form-control" id="exampleInputPassword1" onchange="myFunctionDate1()" placeholder=" صيغة العرض" />

        </div>


    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="exampleInputPassword2">الي تاريخ</label>
            <input type="datetime-local" class="form-control" id="exampleInputPassword2" onchange="myFunctionDate2()" placeholder=" صيغة العرض" />

        </div>


    </div>

    <br />
    <br />
    <div class="card">

        <div class="data_table">
            <table id="example" class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>تاريخ ووقت الاستشارة   </th>

                        <th>نوع الطلب</th>

                        <th>التاريخ الذي تم حجز الاستشارة</th>

                        <th>   المبلغ المدفوع للتفويض  </th>

                        <th>   المبلغ المدفوع للاستشارة  </th>

                        <th>   المبلغ المدفوع لتوثيق العقود  </th>



                        <th>   التفاصيل  </th>














                    </tr>
                </thead>
                <tbody>
                    @*  @foreach (var item in Model.lstConsultingEstablishs)
                    {

                    <tr>
                    <td>@item.RequestNo</td>
                    <td>
                    @item.RequestStatus
                    </td>
                    <td>
                    @item.RequestText
                    </td>


                    <td class="product-img">
                    <a href="@string.Format("/Uploads/{0}",item.RequestDocument)" class="btn btn-primary">Read Now</a>
                    </td>
                    <td>
                    <audio controls autobuffer="autobuffer" title="Ahmed">
                    <source src='@string.Format("/Uploads/{0}",item.RequestAudio)' />
                    </audio>
                    </td>
                    <td>
                    @item.RequestType
                    </td>
                    <td>
                    @item.UserFirstName
                    </td>
                    <td>
                    @item.UserFamilyName
                    </td>
                    <td>
                    @item.UserImage
                    </td>
                    <td>
                    @item.UserEmail
                    </td>
                    <td>
                    @item.LawyerName
                    </td>
                    <td>
                    @item.LawyerImage
                    </td>
                    <td>
                    @item.ConsultingType
                    </td>
                    <td>
                    @item.MainConsultingName
                    </td>
                    <td>
                    @item.SubConsultingName
                    </td>
                    <td>
                    @item.ConsultingPeriod
                    </td>
                    <td>
                    @item.ConsultingPeriodCost
                    </td>
                    <td>
                    @item.PromocodeDiscountValue
                    </td>
                    <td>
                    @item.TheTotal
                    </td>
                    <td>
                    @item.TheConsultingPaidValue
                    </td>
                    <td>
                    @item.TransactionType
                    </td>
                    <td>
                    @item.ConsultingDateAndTime
                    </td>
                    <td>
                    @item.TimeRemainingForConsultingToStart
                    </td>
                    <td>
                    @item.AreaName
                    </td>
                    <td>
                    @item.CityName
                    </td>
                    <td>
                    @item.IsDelegationAsked
                    </td>
                    <td>
                    @item.DelegationValueSentFromUser
                    </td>
                    <td>
                    @item.DelegationValueSentFromLawyer
                    </td>
                    <td>
                    @item.DelegationValueApproved
                    </td>
                    <td>
                    @item.DelegationReplyBack
                    </td>
                    <td>
                    @item.DelegationRejectionCause
                    </td>
                    <td>
                    @item.NoOfOffers
                    </td>
                    <td>
                    @item.CreatedDate
                    </td>
                    </tr>

                    }*@



                </tbody>
            </table>
        </div>


    </div>

</div>


<script src="~/js/salesperservice.js"></script>